 #caixa{
    width: 308px;
    height: 193px;
    float: left;
    background-color: rgb(26, 26, 26);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.431);
    border-radius: 30px;
    color: aliceblue;
    margin: 3%;
    font-size: 20px;
    overflow: auto;
    text-align: center;
    padding: 0 10px;
}

#caixa-texto {
    position: relative;
    top: 10%;
}